<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
	<meta name="Description" content="I am a 21 year old javascript'r, based and raised in Northern Ireland." />
	<meta name="Keywords" content="Robert Dougan, rwd, dougan, javascript, extjs, developer" />

	<title>rwd.me - blog of javascript developer, Robert Dougan</title>
	
	<!--
		@author Robert Dougan
		@email  me@rwd.me
		@web    http://dougan.me
	-->
	
	<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss" />
	
	<!-- stylesheets -->
	<link rel="stylesheet" href="stylesheets/reset-fonts.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="stylesheets/main.css" type="text/css" media="screen" charset="utf-8">
	
	<!-- syntaxhighlighter -->
	<script type="text/javascript" src="vendor/syntaxhighlighter/js/shCore.js"></script>
	<script type="text/javascript" src="vendor/syntaxhighlighter/js/shBrushCss.js"></script>
	<script type="text/javascript" src="vendor/syntaxhighlighter/js/shBrushJScript.js"></script>
	<script type="text/javascript" src="vendor/syntaxhighlighter/js/shBrushPlain.js"></script>
	<script type="text/javascript" src="vendor/syntaxhighlighter/js/shBrushRuby.js"></script>
	<link rel="stylesheet" href="vendor/syntaxhighlighter/css/shCore.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="vendor/syntaxhighlighter/css/shThemeRWD.css" type="text/css" media="screen" charset="utf-8">
	
	<!-- javascripts -->
	<script src="javascripts/ext-core/ext-core-debug.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/application.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/history.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/tweet.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/tabs.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/slices.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/entries.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/init.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	
	<div id="social" style="display:none">
		<!-- <a href="http://www.last.fm/user/rdougan">last.fm</a> -->
		<!-- <a href="http://www.youtube.com/user/kvfb97">YouTube</a> -->
		<a href="http://twitter.com/rdougan" target="_blank">Twitter</a>
		<div id="tweet"></div>
	</div>
	
	<div id="wrapper">
		
		<div id="header">
			<h1>robert dougan</h1>
			<div id="menu">
				<span ref="about">about</span>
				<span ref="blog" class="active">blog</span>
			</div>
		</div>
		
		<div id="content">
			
			<div class="blog" style="display:none;">
				<% @posts.each do |post| %>
				<div class="entry" type="blog" ref="<%= post.id %>/<%= post.title.underscore.gsub(' ', '-') %>">
					<h2><%= post.title %> <span><%= post.created_at.strftime('%d/%m/%Y') %></span><span class="extend">Click to extend</span></h2>
					<div class="body">
						<%= post.body %>
					</div>
					<!--<span class="tags"><a href="#">tag1</a><a href="#">tag2</a><a href="#">tag3</a></span>-->
				</div>
				<% end %>
			</div>
			
			<div class="about" style="display:none;">
				<div class="block">
					I am a 21 year old javascript'r, based and raised in Northern Ireland.<br />
					I lived in London for 1 year working on a small startup called <a href="http://kohive.com">Kohive</a>.<br />
					I am currently working for <a href="http://extjs.com/">ExtJS</a>.
				</div>
				
				<div class="block things">
					<h3>Geeky stuff I know</h3>
					
					<h4>Excellent</h4>
					<a href="http://dev.w3.org/html5/spec/Overview.html" target="_blank">HTML</a>
					<a href="http://www.w3.org/TR/css3-roadmap/" target="_blank">CSS</a>
					<a href="https://developer.mozilla.org/en/JavaScript" target="_blank">JavaScript</a>
					<a href="http://extjs.com/" target="_blank">ExtJS</a>
					<a href="http://jquery.com/" target="_blank">jQuery</a>
					
					<h4 class="indent">Average</h4>
					<a href="http://www.ruby-lang.org/en/" target="_blank">Ruby</a>
					<a href="http://www.rubyonrails.org/" target="_blank">Ruby on Rails</a>
					<a href="http://www.adobe.com/products/photoshop/" target="_blank">Photoshop</a>
					<a href="http://www.adobe.com/products/flash/" target="_blank">Flash</a>
				</div>
				
				<div class="block things" target="_blank">
					<h3>Geeky stuff I'm learning</h3>
					<a href="http://developer.apple.com/mac/library/documentation/cocoa/conceptual/ObjectiveC/Introduction/introObjectiveC.html" target="_blank">Objective-C</a>
					<a href="http://nodejs.org/" target="_blank">node.js</a>
				</div>
				
				<div class="block things" target="_blank">
					<h3>Things I love</h3>
					<a href="http://ilovesarahgannon.com/" target="_blank">Sarah Gannon</a>
					<a href="http://flickr.com/photos/rdougan/" target="_blank">Photography</a>
					<a href="http://www.last.fm/user/rdougan" target="_blank">Music</a>
					<a href="http://www.flickr.com/photos/rdougan/4364515087/in/set-72157623453079500/" target="_blank">Cars</a>
					<a href="http://www.flickr.com/photos/rdougan/3724326670/" target="_blank">Motorbikes</a>
				</div>
			</div>
			
		</div>

	</div>

</body>
</html>